<B_active_branches>
<table class="spip supportedversions">
	<thead>
		<tr>
			<th><:supportedversions:branch:></th>
			<th colspan="2"><:supportedversions:last_release:></th>
			<th><:supportedversions:php_compatibility:></th>
			<th><:supportedversions:initial_release:></th>
			<th><:supportedversions:active_support_until:></th>
			<th><:supportedversions:security_support_until:></th>
		</tr>
	</thead>
	<tbody>
		<BOUCLE_active_branches(DATA){source table, #NULL|SupportedVersions::branchesToShow}>
		<tr[ class="(#VALEUR|SupportedVersions::state)"]>
			<td>[<span title="(#LAST_VERSION_RELEASE)">]#BRANCH[(#LAST_VERSION_RELEASE|oui)</span>]</td>
			<td>
				[(#LAST_DATE_RELEASE|affdate)]
			</td>
			<td>
				[(#LAST_DATE_RELEASE|date_relative)]
			</td>
			<td>[(#TECHNOLOGIES|table_valeur{require/php}|reset)][ - (#TECHNOLOGIES|table_valeur{require/php}|end)]</td>
			<td>[(#INITIAL_RELEASE|affdate)]</td>
			<td>[(#ACTIVE_SUPPORT|affdate)]</td>
			<td>[(#EOL|affdate)]</td>
		</tr>
		</BOUCLE_active_branches>
	</tbody>
</table>
</B_active_branches>
