<table class="spip supportedversions">
	<tr class="future">
		<td><:supportedversions:unreleased:></td>
		<td><:supportedversions:unreleased_definition:></td>
	</tr>
	<tr class="stable">
		<td><:supportedversions:active_support:></td>
		<td><:supportedversions:active_support_definition:></td>
	</tr>
	<tr class="security">
		<td><:supportedversions:security_fix:></td>
		<td><:supportedversions:security_fix_definition:></td>
	</tr>
	<tr class="eol">
		<td><:supportedversions:end_of_life:></td>
		<td><:supportedversions:end_of_life_definition:></td>
	</tr>
</table>
