<svg xmlns="http://www.w3.org/2000/svg"
	 viewbox="0 0 [(#SUPPORTED_VERSIONS{svg/margin_left}|SupportedVersions::width)] [(#SUPPORTED_VERSIONS{svg/header_height}|SupportedVersions::height)]"
	 width="[(#SUPPORTED_VERSIONS{svg/margin_left}|SupportedVersions::width)]"
	 height="[(#SUPPORTED_VERSIONS{svg/header_height}|SupportedVersions::height)]"
	 class="supportedversions"
>
	<defs>
		<linearGradient id="gradient-future"
			x1="0" y1="0" x2="100%" y2="0">
			<stop offset="0%" stop-color="[(#SUPPORTED_VERSIONS{colors/future/background})]" />
			<stop offset="100%" stop-color="#fff" />
		</linearGradient>
	</defs>
	<defs>
		<linearGradient id="gradient-stable"
			 x1="0" y1="0" x2="100%" y2="0">
			<stop offset="0%" stop-color="[(#SUPPORTED_VERSIONS{colors/stable/background})]" />
			<stop offset="100%" stop-color="#fff" />
		</linearGradient>
	</defs>
	<defs>
		<linearGradient id="gradient-security"
			 x1="0" y1="0" x2="100%" y2="0">
			<stop offset="0%" stop-color="[(#SUPPORTED_VERSIONS{colors/security/background})]" />
			<stop offset="100%" stop-color="#fff" />
		</linearGradient>
	</defs>
	<style type="text/css">
		<![CDATA[
			text {
				fill: #333;
				[font-size: (#SUPPORTED_VERSIONS{svg/header_height}|mult{2}|div{3})px;]
			}

			g.supver_eol rect,
			.supver_branches rect.supver_eol {
				fill: [(#SUPPORTED_VERSIONS{colors/eol/background})];
			}

			g.supver_eol text {
				fill: [(#SUPPORTED_VERSIONS{colors/eol/color})];
			}

			g.supver_security rect,
			.supver_branches rect.supver_security {
				fill: [(#SUPPORTED_VERSIONS{colors/security/background})];
			}

			.supver_branches rect.supver_security-gradient {
				fill: url(#gradient-security);
			}

			g.supver_stable rect,
			.supver_branches rect.supver_stable {
				fill: [(#SUPPORTED_VERSIONS{colors/stable/background})];
			}

			.supver_branches rect.supver_stable-gradient {
				fill: url(#gradient-stable);
			}

			g.supver_future rect,
			.supver_branches rect.supver_future {
				fill: [(#SUPPORTED_VERSIONS{colors/future/background})];
			}

			.supver_branches rect.supver_future-gradient {
				fill: url(#gradient-future);
			}

			.supver_branch-labels text {
				dominant-baseline: central;
				text-anchor: middle;
			}

			.supver_today line {
				stroke: #f33;
				stroke-dasharray: 7,7;
				stroke-width: 3px;
			}

			.supver_today text {
				fill: #f33;
				text-anchor: middle;
			}

			.supver_years line {
				stroke: black;
			}

			.supver_years text {
				text-anchor: middle;
			}
		]]>
	</style>

	<!-- Branch labels -->
	<g class="supver_branch-labels">
		<BOUCLE_labels(DATA){source table, #VAL{true}|SupportedVersions::branchesToShow}>
			[<g class="supver_(#VALEUR|SupportedVersions::state)">
				<rect
					x="0"
					y="[(#BRANCH|SupportedVersions::top)]"
					width="[(#SUPPORTED_VERSIONS{svg/margin_left}|mult{0.5})]"
					height="#SUPPORTED_VERSIONS{svg/branch_height}"
				/>
				<text
					x="[(#SUPPORTED_VERSIONS{svg/margin_left}|mult{0.25})]"
					y="[(#BRANCH|SupportedVersions::topForText)]"
				>
					#BRANCH
				</text>
			</g>]
		</BOUCLE_labels>
	</g>

	<!-- Branch blocks -->
	<g class="supver_branches">
		<BOUCLE_active_branches(DATA){source table, #VAL{true}|SupportedVersions::branchesToShow}>
			[<rect
				class="supver_(#BRANCH|SupportedVersions::stateOrGradient{stable})"
				x="[(#INITIAL_RELEASE|SupportedVersions::horizCoord)]"
				y="[(#BRANCH|SupportedVersions::top)]"
				[width="(#BRANCH|SupportedVersions::rectWidth{stable})"]
				height="#SUPPORTED_VERSIONS{svg/branch_height}"
			/>]
			[<rect
				class="supver_(#BRANCH|SupportedVersions::stateOrGradient{security})"
				x="[(#ACTIVE_SUPPORT|SupportedVersions::horizCoord)]"
				y="[(#BRANCH|SupportedVersions::top)]"
				[width="(#BRANCH|SupportedVersions::rectWidth{security})"]
				height="#SUPPORTED_VERSIONS{svg/branch_height}"
			/>]
			[<rect
				class="supver_(#BRANCH|SupportedVersions::stateOrGradient{future})"
				x="[(#INITIAL_RELEASE|SupportedVersions::horizCoord)]"
				y="[(#BRANCH|SupportedVersions::top)]"
				[width="(#BRANCH|SupportedVersions::rectWidth{future})"]
				height="#SUPPORTED_VERSIONS{svg/branch_height}"
			/>]
		</BOUCLE_active_branches>
	</g>

	<!-- Year lines -->
	<g class="supver_years">
		<BOUCLE_years(DATA){source table, #NULL|SupportedVersions::years}>
			<line
				x1="[(#VALEUR|SupportedVersions::horizCoord)]"
				y1="#SUPPORTED_VERSIONS{svg/header_height}"
				x2="[(#VALEUR|SupportedVersions::horizCoord)]"
				y2="[(#SUPPORTED_VERSIONS{svg/header_height}|SupportedVersions::height|strmoins{#SUPPORTED_VERSIONS{svg/footer_height}})]"
			/>
			<text
				x="[(#VALEUR|SupportedVersions::horizCoord)]"
				y="[(#SUPPORTED_VERSIONS{svg/header_height}|mult{0.8})]"
			>
				[(#VALEUR|nom_mois{abbr})] [(#VALEUR|annee)]
			</text>
		</BOUCLE_years>
	</g>

	<!-- Today -->
	<g class="supver_today">
		<line
			x1="[(#DATE|affdate{Y-m-d}|SupportedVersions::horizCoord)]"
			y1="#SUPPORTED_VERSIONS{svg/header_height}"
			x2="[(#DATE|affdate{Y-m-d}|SupportedVersions::horizCoord)]"
			y2="[(#SUPPORTED_VERSIONS{svg/header_height}|SupportedVersions::height|strmoins{#SUPPORTED_VERSIONS{svg/footer_height}})]"
		/>
		<text
			x="[(#DATE|affdate{Y-m-d}|SupportedVersions::horizCoord)]"
			y="[(#SUPPORTED_VERSIONS{svg/header_height}|SupportedVersions::height)]">[
			<:info_aujourdhui:> (#DATE|affdate)
		]</text>
	</g>
</svg>
