<B_eol_branches>
<table class="spip">
	<thead>
		<tr>
			<th><:supportedversions:branch:></th>
			<th><:supportedversions:end_of_life:></th>
			<th><:supportedversions:last_release:></th>
		</tr>
	</thead>
	<tbody>
		<BOUCLE_eol_branches(DATA){source table, #VAL{eol}|SupportedVersions::getBranchesFromState}{par branch}{inverse}>
		<tr>
			<td>#BRANCH</td>
			<td>
				[(#EOL|affdate)]
			</td>
			<td>#LAST_VERSION_RELEASE</td>
		</tr>
		</BOUCLE_eol_branches>
	</tbody>
</table>
</B_eol_branches>
