#SET{releases, #ARRAY{}}
<BOUCLE_release_notes(DATA){source json, #CHEMIN{'data/releases.json'}}>
#SET{releases, #GET{releases}|array_merge{#RELEASES|sinon{#ARRAY{}}}}
</BOUCLE_release_notes>

<B_releases>
#ANCRE_PAGINATION
<BOUCLE_releases(DATA){source table, #GET{releases}}{par released_at}{inverse}{pagination}>
<h3 class="spip">#VERSION</h3>
<ul class="spip">
	<li><:supportedversions:released_at:>&nbsp;: [(#RELEASED_AT|affdate)]</li>
	[<li>
		<a href="(#ANNOUNCE|table_valeur{0/url})" hreflang="[(#ANNOUNCE|table_valeur{0/lang})]"><:supportedversions:announcement:></a>
		<B_announce>&nbsp;(<BOUCLE_announce(DATA){source table, #ANNOUNCE}{1,n}{", "}>
			<a href="#URL" hreflang="#LANG">[(#LANG|traduire_nom_langue)]</a>
		</BOUCLE_announce>)</B_announce>
	</li>]
	[<li><a href="(#CHANGELOG)"><:supportedversions:changelog:></a></li>]
	<B_download>
		<li>
			<:supportedversions:download:>&nbsp;:
			<ul class="spip">
				<BOUCLE_download(DATA){source table, #DOWNLOAD}>
				<li>
					<a href="#URL">SPIP #VERSION ([(#URL|pathinfo{#CONST{PATHINFO_EXTENSION}})])</a>[<br>
					<:supportedversions:download_size:>&nbsp;: (#SIZE|taille_en_octets)][<br>
					SHA1&nbsp;: <code>(#SHA1)</code>]
				</li>
				</BOUCLE_download>
			</ul>
		</li>
	</B_download>
</ul>
</BOUCLE_releases>
[<nav role="navigation" class="p pagination">(#PAGINATION)</nav>]
</B_releases>
