<B_latest>
<div>
	<h2 class="h4"><:supportedversions:latest_releases:></h2>
	<ul class="spip">
		<BOUCLE_latest(DATA){source table, #NULL|SupportedVersions::branchesToShow}>[
		<li>
			(#LAST_VERSION_RELEASE) : [<small>(#LAST_DATE_RELEASE|affdate)</small>]
		</li>
		]</BOUCLE_latest>
	</ul>
</div>
</B_latest>
