#SET{list, #ARRAY{dev,spip/dev/spip-master.zip}}
<BOUCLE_pre_releases(DATA){source json, #CHEMIN{data/pre_releases.json}}{branch=#VAL{future}|SupportedVersions::getBranchesFromState|table_valeur{0/branch}}>
	<BOUCLE_releases(DATA){source table, #PRE_RELEASES}{par released_at}{inverse}{0,1}>
		<BOUCLE_download(DATA){source table, #DOWNLOAD}>#SET{file, #URL|replace{https://files.spip.net/}}</BOUCLE_download>
		#SET{list, #GET{list}|array_merge{#ARRAY{#VERSION, #GET{file}}}}
	</BOUCLE_releases>
</BOUCLE_pre_releases>
<BOUCLE_stable(DATA){source table, #VAL{stable}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,2}>
	<BOUCLE_release_stable(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		<BOUCLE_download_stable(DATA){source table, #DOWNLOAD}>
			#SET{file, #URL|replace{https://files.spip.net/}}
		</BOUCLE_download_stable>
		#SET{list, #GET{list}|array_merge{#ARRAY{#VERSION, #GET{file}}}}
	</BOUCLE_release_stable>
</BOUCLE_stable>
<BOUCLE_security(DATA){source table, #VAL{security}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,2}>
	<BOUCLE_release_security(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		<BOUCLE_download_security(DATA){source table, #DOWNLOAD}>
			#SET{file, #URL|replace{https://files.spip.net/}}
		</BOUCLE_download_security>
		#SET{list, #GET{list}|array_merge{#ARRAY{#VERSION, #GET{file}}}}
	</BOUCLE_release_security>
</BOUCLE_security>
<BOUCLE_eol(DATA){source table, #VAL{eol}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,2}>
	<BOUCLE_release_eol(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		<BOUCLE_download_eol(DATA){source table, #DOWNLOAD}>
			#SET{file, #URL|replace{https://files.spip.net/}}
		</BOUCLE_download_eol>
		#SET{list, #GET{list}|array_merge{#ARRAY{#VERSION, #GET{file}}}}
	</BOUCLE_release_eol>
</BOUCLE_eol>
[(#GET{list}|json_encode)]
#FILTRE{trim}
